<%= form_with(model: user, local: true) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="alert alert-warning">
      <h4><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h4>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<section class="vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.jpg');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-sm-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">              
              <h2  class="text-uppercase text-center mb-5">Edit </h2>              
                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">
                    <div class="form-outline">
                      <%= f.text_field :firstname, autofocus: true, placeholder: "First Name", class:"form-control form-control-sm" %>                                        
                    </div>
                  </div>                
                  <div class="col-md-6 mb-4 pb-2">
                    <div class="form-outline">
                      <%= f.text_field :lastname, autofocus: true, placeholder: "Last Name", class:"form-control form-control-sm" %>
                    </div>
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <%= f.text_field :address, autofocus: true, placeholder: "Address", class:"form-control form-control-sm" %>
                </div>

                <div class="form-outline mb-4">
                  <%= f.text_field :contatno, autofocus: true, placeholder: "Contact No", class:"form-control form-control-sm" %>
                </div>

                <div class="form-outline mb-4">
                  <%= f.email_field :email, autofocus: true, placeholder: "Email Id", class:"form-control form-control-sm" %>
                </div>
                
                <div class="mb-4">
                  <% if current_user.admin? && !user.admin? %>
                    <%= f.select :role, User.roles, {},class:"form-select form-select-sm mb-3" %>
                  <% else %>
                  <strong>Role: <%=user.role.upcase %></strong>
                  <% end %>
                </div>

                <div class="d-flex justify-content-center">
                  <%= f.submit "Update", class: "btn btn-success btn-block btn-sm gradient-custom-4 text-body" %>                  
                </div>
                <%= link_to "Back", root_path %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>