<div class="float-end mt-4 mb-4">
  <%= form_tag import_users_path, multipart: true, class: 'row g-3 needs-validation' do %> 
    <div class="col-auto">
      <%= file_field_tag :my_csv_file, class: 'form-control', required: "required", accept: ".csv" %>       
    </div>
    <div class="col-auto">
      <%= submit_tag "Import CSV", class: 'btn btn-info' %>
      <%= link_to "Export CSV", users_path(format: "csv"), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<table class="table mt-4 pt-2">
  <thead class="table-dark">
    <tr>
        <td>First Name<td>
        <td>Last Name<td>
        <td>Role<td>
        <td>Email<td>
        <td>Contact no<td>
        <td>Address<td>
        <td>Edit<td>
        <td>Delete<td>
    </tr>
  </thead>  
  
  <tbody>
    <% @users.each do |user| %>
      <tr>
          <td><%=user.firstname%><td>
          <td><%=user.lastname%><td>
          <td><%=user.role.upcase%><td>
          <td><%=user.email%><td>
          <td><%=user.contatno.to_i%><td>
          <td><%=user.address%><td>
          <td><%=link_to "Edit", edit_user_path(user.id), class: "btn btn-warning"%><td>
          <td><%=link_to "Delete", user_path(user.id), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" if current_user.admin? && !user.admin? %><td>
      </tr>
    <% end %>    
  </tbody>  
</table>

<!-- Pagination code -->
<%== pagy_bootstrap_nav(@pagy) %>





